@import '~@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.border2 {
    margin: 2px;

    background: #eae4a2;

    border-width: 4px;
    border-style: solid;
    border-image: url('~@/assets/images/border.png');
    border-image-slice: 32;
    border-image-outset: 2px;
}

.border4 {
    margin: 4px;

    background: #eae4a2;

    border-width: 8px;
    border-style: solid;
    border-image: url('~@/assets/images/border.png');
    border-image-slice: 32;
    border-image-outset: 4px;
}

.hover-highlight {
    @apply transition duration-300 ease-out transform hover:-translate-y-1 hover:scale-105;
}

/* Tooltips */
.tooltip {
    @apply hidden absolute;
}

.has-tooltip:hover .tooltip {
    @apply block z-50
}


img {
    image-rendering: pixelated;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.feature-tab {
    @apply p-4;
}

.btn {
    @apply disabled:opacity-50 transition duration-300 ease-out transform hover:scale-105;
}

@layer utilities {
    .filter-none {
        filter: none;
    }

    .filter-grayscale {
        filter: grayscale(100%);
    }
}

.input-primary {
    @apply border border-gray-300 p-2 my-2 rounded-md focus:outline-none focus:ring-2 ring-blue-200 text-black;
}

.input-range {
    @apply border border-gray-300 py-2 my-2 rounded-md focus:outline-none;
}

.btn-green {
    @apply text-white bg-green-500 hover:bg-green-600;
}

.btn-blue {
    @apply text-white bg-blue-500 hover:bg-blue-600;
}

.btn-red {
    @apply text-white bg-red-500 hover:bg-red-600;
}
