@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~treeflex/dist/css/treeflex.css';

.border2 {
    margin: 2px;

    border-width: 4px;
    border-style: solid;
    border-image: url('~@/assets/images/border.png');
    border-image-slice: 32;
    border-image-outset: 2px;
}

.border4 {
    margin: 4px;

    border-width: 8px;
    border-style: solid;
    border-image: url('~@/assets/images/border.png');
    border-image-slice: 32;
    border-image-outset: 4px;
}

/* Importing Tailwind css here so that border# has lower priority */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-generic {
    @apply bg-yellow-100 dark:bg-gray-800
}

.hover-highlight {
    @apply transition duration-300 ease-out transform hover:-translate-y-1 hover:scale-105;
}

/* Tooltips */
.tooltip {
    @apply hidden absolute;
}

.has-tooltip:hover .tooltip {
    @apply block z-50
}


img {
    image-rendering: pixelated;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(138, 120, 86, 0.705); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    margin: 5px 0;
    border: solid;
    border-width: 10px 0 10px 15px;
    background: rgba(255,0,0,0.4); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.feature-tab {
    @apply p-4;
}

.btn {
    @apply disabled:opacity-50 transition duration-300 ease-out transform hover:scale-105;
}

@layer utilities {
    .filter-none {
        filter: none;
    }

    .filter-grayscale {
        filter: grayscale(100%);
    }
}

.input-primary {
    @apply border border-gray-300 p-2 my-2 rounded-md focus:outline-none focus:ring-2 ring-blue-200 text-black;
}

.input-range {
    @apply border border-gray-300 py-2 my-2 rounded-md focus:outline-none;
}

.btn-green {
    @apply text-white bg-green-500 hover:bg-green-600;
}

.btn-blue {
    @apply text-white bg-blue-500 hover:bg-blue-600;
}

.btn-red {
    @apply text-white bg-red-500 hover:bg-red-600;
}
